@defer {
<mi-producto></mi-producto>
}
@placeholder {
<h1>Cargando producto...</h1>
}


<h1>Plantillas en Angular</h1>

<!--Interpolacion-->
<p>{{web}}</p>

<!--Enlace dinamico-->
<div>
    <a [href]="web" [class.existe]="redirigir" target="_blank">Enlace</a>
</div>

<h2>Estructuras de Control de Flujo</h2>

<!--Directivas de Ngif-->

@if (redirigir) {
<p>El Enlace a {{web}} es correcto</p>
} @else {
<p>El Enlace a {{web}} es incorrecto</p>
}

<button (click)="cambiarRedirigir()">Modificar Enlace</button>

<h3>Marcas Autos</h3>

<ul>
    @for (marca of marcasAutos; track marca.id; let indice = $index, esPar = $even, esImpar = $odd) {
    <li>{{indice + 1}}. {{marca.marca}} {{esPar ? 'Es Par' : 'Es Impar'}} </li>
    }@empty {
    <li>No hay marcas</li>
    }
</ul>



@switch (usuario.rol) {
    @case ('Admin') {
        <app-ventas></app-ventas>
    }
    @case ('User') {
        <p>Usuario normal</p>
    }
    @default {
        <p>No tienes permiso</p>
    }
}

<h3>Mas cosas de las plantillas de angular</h3>

<ng-container>
    <h1>
        Esto es un contenedor de Angular
    </h1>
</ng-container>

@let pais = ' Peru';

@let saludo = 'Hola desde'+ pais;

{{saludo}}

<h2>Tuberias en Angular</h2>

{{web | uppercase }}
{{web | lowercase }}
{{web | titlecase }}
{{"El cielo pa" | cambiaLetras:true }}

<h2>Cambia letra a ASCII</h2>
{{'Hello World'}}
{{ 'Hello World' | ascii }}

<br/>

<!-- JsonPipe: Convierte un objeto o valor de TypeScript a una cadena de texto en formato JSON. Es muy útil para hacer debug (depurar) y ver el estado de los objetos y arreglos directamente en el HTML. -->
<p><b>JsonPipe:</b> {{ usuario | json }}</p>

<!-- DatePipe: Formatea un valor de fecha u hora (como un objeto Date o un número de milisegundos) de acuerdo a las reglas de formato elegidas (como 'medium', 'short', o formatos custom como 'dd/MM/yyyy'). -->
<p><b>DatePipe:</b> {{ fechaActual | date:'medium' }}</p>

<!-- CurrencyPipe: Transforma un número en una cadena formateada como moneda, añadiendo el símbolo (ej. USD, EUR) y ajustando los decimales según la configuración regional. -->
<p><b>CurrencyPipe:</b> {{ precio | currency:'USD' }}</p>
