<h1>Plantillas en Angular</h1>

<!--Interpolacion-->
<p>{{web}}</p>

<!--Enlace dinamico-->
<div>
    <a [href]="web" [class.existe]="redirigir" target="_blank">Enlace</a>
</div>

<h2>Estructuras de Control de Flujo</h2>

<!--Directivas de Ngif-->

@if (redirigir) {
<p>El Enlace a {{web}} es correcto</p>
} @else {
<p>El Enlace a {{web}} es incorrecto</p>
}

<button (click)="cambiarRedirigir()">Modificar Enlace</button>

<h3>Marcas Autos</h3>

<ul>
    @for (marca of marcasAutos; track marca.id; let indice = $index, esPar = $even, esImpar = $odd) {
    <li>{{indice + 1}}. {{marca.marca}} {{esPar ? 'Es Par' : 'Es Impar'}} </li>
    }@empty {
    <li>No hay marcas</li>
    }
</ul>