<h2>Enlaces en Angular</h2>

<div>
    <a [href]="web" [class.activo]="redirigir" target="_blank">Enlace</a>
</div>

<h2>Estructura de control de flujo</h2>
@if (redirigir) {
<p>El enlace funciona correctamente</p>
} @else {
<p>Lo sentimos, este enlace no está disponible.</p>
}

<button (click)="cambiarRedirigir()">Cambiar Enlace</button>

<h2>Lista de prestamos</h2>
<button (click)="agregarPrestamo()">Agregar Nuevo Préstamo</button>
<ul>
    @for(item of prestamosList; track item.id; let indice = $index){
    <li>{{indice + 1}}. Monto: ${{item.monto}} Estado: <strong
            [class.aprobado]="item.estado === 'Aprobado' || item.estado === 'pagado'"
            [class.pendiente]="item.estado === 'Pendiente' || item.estado === 'pendiente'">{{item.estado}}</strong>
            <button (click)="eliminarPrestamo(indice)">Eliminar</button>
    </li>
    }   
</ul>

@for (item of prestamos; track item.id) {  
    @switch (item.tipo) {
        @case ('personal') {
            <p>Prestamo de tipo Personal</p>
        }
        @case ('Hipotecario') {
            <p>Prestamo para la compra de una casa</p>
            <app-transacciones></app-transacciones>
        }
        @case ('Vehicular') {
            <p>Prestamo para la compra de un vehiculo</p>
        }
        @default {
            <p>Tipo de prestamo no reconocido</p>
        }
    }
}